{% extends 'layouts.html' %}
{% load static %}
{% block title %}
  <title>Products</title>
{% endblock %}

{% block main_content %}
  {% comment %} {% include 'product/header.html' %} {% endcomment %}

  <div class="container mt-5">
    <div class="row d-flex justify-content-center">
      <div class="com-md-10">
        <table class="table table-bordered border-dark table-striped">
          <tr>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Stock</th>
            <th>Product Description</th>
            <th>Images</th>
            <th>Category</th>
            <th>Action</th>
          </tr>
          {% for item in product %}
            <tr>
              <td>{{ item.product_name }}</td>
              <td>{{ item.product_price }}</td>
              <td>{{ item.stock }}</td>
              <td>{{ item.product_description }}</td>
              <td>
                <img src="{{ item.product_image }}" alt="{{ item.product_name }}" width="100" height="80" />
              </td>
              <td>{{ item.category.category_name }}</td>
              <td class="d-flex align-items-center border border-0 flex-row overflow-hidden">
                <a href="#" class="btn btn-primary mx-1">Edit</a>
                <a href="#" class="btn btn-danger mx-1" onclick="return confirm('Are You sure ?')"><i class="fa-solid fa-trash"></i></a>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
